/* styling features section heading, p and card content */

.features-section {
    display: flex;
    flex-direction: column;
    padding: 0px var(--universal-padding-margin);
    background-color: white;
    row-gap: 90px;
    margin-bottom: 100px;
}
.features-section .heading-item > h1 {
    font-size: 40px;
    font-family: Montserrat;
}
.features-section .heading-item > p {
    margin-top: 10px;
    max-width: 100%;
    font-size: 19px;
    font-family: arial;
}

/* styling individual card div in feature section */
.features-section .card {
    height: 350px;
    display: flex;
    flex-direction: row;
    column-gap: 200px;
    background:#00F7FF;
    border-radius: 24px;
    border: 1px solid rgb(129, 156, 122);
}
.features-section .card > img {
    height:90%;
    margin: 15px;
    align-self: center;
    border-radius: 1em;
}
.features-section .card .card-content {
    padding: 60px 40px;
}
.features-section .card .card-content > h2 {
    font-size: 25px;
    font-family: Montserrat;
    color: rgb(19, 18, 18);
}
.features-section .card .card-content img {
    height: 55px;
    width: 55px;
}
.features-section .card .card-content p {
    font-weight: 600;
    color: rgb(19, 18, 18);
}
/* reverse styling for .card */